<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Topic</h3>
    </div>
    <div class="panel-body">
        blablabl
    </div>
    <table class="table">
        <tr>
            <td>by Tzach</td>
        </tr>
    </table>
</div>
    <comment creator="tzach" context="blablabla" admin="true"></comment>
    <comment creator="tzach" context="blablabla"></comment>
    <comment creator="tzach" context="blablabla"></comment>
    <comment creator="tzach" context="blablabla"></comment>
    <comment creator="tzach" context="blablabla"></comment>