.topic {
    width: 100%;
    height: 50px;
    box-shadow: 5px 5px gray;
    margin: 3px;
}

.topic img {
    width: 32px;
    height: 32px
}
.topic span{
    float: right;
}
.creater {
    color: #777;
}